* {
    box-sizing: border-box;
}


.body {
    background-color: rgb(139, 139, 242);
    font-family: 'Montserrat', sans-serif;
}



#forecast {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    scrollbar-width: thin; 
    white-space: nowrap; 
}

.forecast-entry {
    flex: 0 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}